.block{
    display: inline-block;
}
.div1{
    width: 1280px;
    height: 200px;
    background-color: blue;
}
.div2{
    width: 600px;
    height: 600px;
    background-color: red;
    border: 1px solid white;
}
.div3{
    position: relative;
    width: 680px;
    height: 300px;
    background-color: orange;
    border: 1px solid white;
    bottom: 300px;
}
.div4{
    position: relative;
    width: 180px;
    height: 300px;
    background-color: purple;
    border: 1px solid white;
    bottom: 300px;
}
