*{
    margin: 0;
}
.block{
  display: inline-block;
  border: 0px;
}
.div1{
    width: 600px;
    height: 600px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}
.div2{
    width: 680px;
    height: 600px;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
}
.div3{
    width: 1280px;
    height: 200px;
    background-color: blue;
    border: 1px solid white;
}
.div4{
    width: 1280px;
    height: 160px;
    background-color: orange;
    margin-bottom: 100px;
}
.div5{
    width: 600px;
    height: 600px;
    background-image: url(/ne_uspel_v_pgu/img/1.jpg);
    margin-left: auto;
    margin-right: auto;
}
.div6{
    width: 680px;
    height: 600px;
    background-image: url(/ne_uspel_v_pgu/img/2.jpg);
    margin-left: auto;
    margin-right: auto;
}
.div7{
    width: 1280px;
    height: 200px;
    background-image: url(/ne_uspel_v_pgu/img/3.jpg);
    border: 1px solid white;
}
.div8{
    width: 1280px;
    height: 160px;
    background-image: url(/ne_uspel_v_pgu/img/4.jpg);
}